{{ 'header.css' | asset_url  | stylesheet_tag}}
<header>
  <div class="logo" style = "background-image:url('{{ "shop.svg" | asset_url }}')">
    
  </div>
  <div class="right">
    <form class="search-form" action="/search" method="get">
      <input class="search-input" type="search" placeholder="search" name="q">
      <input class="search-submit" type="submit" value="" style="background-image:url('{{ "arrow-right.svg" | asset_url }}')">
    </form>
    <div class="search-button" value="" style = "background-image:url('{{ "search.svg" | asset_url }}')">
    </div>
    <div class="cart" style = "background-image:url('{{ "cart.svg" | asset_url }}')">
      <p class="count">{{ cart.item_count }}</p>
    </div>
  </div>
</header>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const logo = document.querySelector(".logo");
    const cart = document.querySelector(".cart");
    const searchButton = document.querySelector(".search-button");
    const searchForm = document.querySelector(".search-form");

    searchButton.addEventListener("click", () => {
      searchForm.classList.toggle("active")
    })

    cart.addEventListener("click", () => {
      window.location = "/cart";
    })

    logo.addEventListener("click", () => {
      window.location = '/';
    })
  })
</script>